### Import libraries

In [1]:
import pandas as pd
import os
from sklearn.metrics import mean_squared_error

### Set the data repository as the working directory

In [2]:
print(os.path.abspath(os.curdir))

C:\Users\Asus\Desktop\OPFLearn TRIAL 1\codes

In [3]:
os.chdir("../data")
print(os.path.abspath(os.curdir))

C:\Users\Asus\Desktop\OPFLearn TRIAL 1\data

### Import the test sets (true value)

##### Test set (normal loading)

In [4]:
v_test = pd.read_csv('v_test.csv')
v_test.head()

,scenario,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1,1,1.000044,0.999620,0.999438,0.999425,1.000390,1.000587,1.000515,1.001880,...,0.999505,1.001086,1.000642,1.001063,1.003837,1.006113,1.007364,1.011995,1.013857,1.016864
1,2,1,1.000047,0.999690,0.999543,0.999563,1.000615,1.000832,1.000749,1.002093,...,0.999626,1.001212,1.000882,1.001321,1.004171,1.006499,1.007773,1.012442,1.014312,1.017319
2,3,1,1.000052,0.999764,0.999652,0.999705,1.000844,1.001082,1.000989,1.002309,...,0.999757,1.001348,1.001124,1.001581,1.004503,1.006881,1.008178,1.012882,1.014761,1.017770
3,4,1,1.000056,0.999838,0.999762,0.999848,1.001077,1.001340,1.001237,1.002535,...,0.999886,1.001486,1.001371,1.001846,1.004841,1.007270,1.008590,1.013333,1.015220,1.018230
4,5,1,1.000061,0.999913,0.999872,0.999992,1.001309,1.001593,1.001479,1.002754,...,1.000017,1.001626,1.001617,1.002110,1.005179,1.007659,1.009002,1.013782,1.015678,1.018688

In [5]:
v_test = v_test.loc[:, (v_test.columns != 'scenario') & (v_test.columns != 'v_1')]
v_test.head()

,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1.000044,0.999620,0.999438,0.999425,1.000390,1.000587,1.000515,1.001880,1.003511,1.003738,...,0.999505,1.001086,1.000642,1.001063,1.003837,1.006113,1.007364,1.011995,1.013857,1.016864
1,1.000047,0.999690,0.999543,0.999563,1.000615,1.000832,1.000749,1.002093,1.003696,1.003915,...,0.999626,1.001212,1.000882,1.001321,1.004171,1.006499,1.007773,1.012442,1.014312,1.017319
2,1.000052,0.999764,0.999652,0.999705,1.000844,1.001082,1.000989,1.002309,1.003884,1.004095,...,0.999757,1.001348,1.001124,1.001581,1.004503,1.006881,1.008178,1.012882,1.014761,1.017770
3,1.000056,0.999838,0.999762,0.999848,1.001077,1.001340,1.001237,1.002535,1.004084,1.004287,...,0.999886,1.001486,1.001371,1.001846,1.004841,1.007270,1.008590,1.013333,1.015220,1.018230
4,1.000061,0.999913,0.999872,0.999992,1.001309,1.001593,1.001479,1.002754,1.004274,1.004470,...,1.000017,1.001626,1.001617,1.002110,1.005179,1.007659,1.009002,1.013782,1.015678,1.018688

##### Test set (increase in load)

In [6]:
v_test_load_increase = pd.read_csv('v_test_load_increase.csv')
v_test_load_increase.head()

,scenario,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1,1,0.998853,0.992830,0.989848,0.987099,0.981601,0.980645,0.978992,0.978531,...,0.988220,0.988517,0.981121,0.980586,0.979559,0.979283,0.979386,0.982403,0.983906,0.986707
1,2,1,0.998807,0.992542,0.989594,0.986892,0.981558,0.980701,0.979122,0.978494,...,0.987212,0.987031,0.981093,0.980587,0.979644,0.979295,0.979347,0.982351,0.983960,0.986740
2,3,1,0.998748,0.992280,0.989222,0.986407,0.980632,0.979239,0.977390,0.976530,...,0.986607,0.986218,0.980184,0.979697,0.979019,0.978937,0.979103,0.982273,0.983891,0.986738
3,4,1,0.998693,0.991831,0.988642,0.985722,0.979618,0.978414,0.976676,0.975717,...,0.985500,0.984583,0.979095,0.978513,0.977189,0.976656,0.976671,0.979150,0.980551,0.983328
4,5,1,0.998733,0.992204,0.989264,0.986576,0.981307,0.980471,0.978793,0.978014,...,0.985880,0.985633,0.980837,0.980296,0.979234,0.978867,0.978943,0.981807,0.983379,0.986264

In [7]:
v_test_load_increase = v_test_load_increase.loc[:, (v_test_load_increase.columns != 'scenario') & (v_test_load_increase.columns != 'v_1')]
v_test_load_increase.head()

,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,0.998853,0.992830,0.989848,0.987099,0.981601,0.980645,0.978992,0.978531,0.978501,0.978499,...,0.988220,0.988517,0.981121,0.980586,0.979559,0.979283,0.979386,0.982403,0.983906,0.986707
1,0.998807,0.992542,0.989594,0.986892,0.981558,0.980701,0.979122,0.978494,0.978420,0.978417,...,0.987212,0.987031,0.981093,0.980587,0.979644,0.979295,0.979347,0.982351,0.983960,0.986740
2,0.998748,0.992280,0.989222,0.986407,0.980632,0.979239,0.977390,0.976530,0.976131,0.976109,...,0.986607,0.986218,0.980184,0.979697,0.979019,0.978937,0.979103,0.982273,0.983891,0.986738
3,0.998693,0.991831,0.988642,0.985722,0.979618,0.978414,0.976676,0.975717,0.975297,0.975275,...,0.985500,0.984583,0.979095,0.978513,0.977189,0.976656,0.976671,0.979150,0.980551,0.983328
4,0.998733,0.992204,0.989264,0.986576,0.981307,0.980471,0.978793,0.978014,0.977741,0.977727,...,0.985880,0.985633,0.980837,0.980296,0.979234,0.978867,0.978943,0.981807,0.983379,0.986264

##### Test set (solar and wind inclusion, 15%)

In [8]:
v_test_solar_wind_15_pct = pd.read_csv('v_test_solar_wind_15_pct.csv')
v_test_solar_wind_15_pct.head()

,scenario,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1,1,1.000045,0.999678,0.999518,0.999493,1.000432,1.000623,1.000529,1.001863,...,0.999590,1.001171,1.000685,1.001105,1.003880,1.006156,1.007407,1.012038,1.013900,1.016907
1,2,1,1.000049,0.999749,0.999625,0.999633,1.000661,1.000872,1.000768,1.002081,...,0.999711,1.001296,1.000928,1.001367,1.004217,1.006545,1.007819,1.012488,1.014359,1.017366
2,3,1,1.000053,0.999827,0.999739,0.999779,1.000890,1.001122,1.001005,1.002290,...,0.999849,1.001440,1.001171,1.001627,1.004550,1.006928,1.008225,1.012929,1.014808,1.017816
3,4,1,1.000058,0.999902,0.999849,0.999922,1.001123,1.001379,1.001252,1.002516,...,0.999978,1.001578,1.001418,1.001893,1.004888,1.007317,1.008637,1.013380,1.015268,1.018277
4,5,1,1.000062,0.999977,0.999959,1.000066,1.001355,1.001632,1.001495,1.002735,...,1.000110,1.001719,1.001664,1.002157,1.005225,1.007706,1.009048,1.013828,1.015725,1.018735

In [9]:
v_test_solar_wind_15_pct = v_test_solar_wind_15_pct.loc[:, (v_test_solar_wind_15_pct.columns != 'scenario') & (v_test_solar_wind_15_pct.columns != 'v_1')]
v_test_solar_wind_15_pct.head()

,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1.000045,0.999678,0.999518,0.999493,1.000432,1.000623,1.000529,1.001863,1.003462,1.003682,...,0.999590,1.001171,1.000685,1.001105,1.003880,1.006156,1.007407,1.012038,1.013900,1.016907
1,1.000049,0.999749,0.999625,0.999633,1.000661,1.000872,1.000768,1.002081,1.003653,1.003866,...,0.999711,1.001296,1.000928,1.001367,1.004217,1.006545,1.007819,1.012488,1.014359,1.017366
2,1.000053,0.999827,0.999739,0.999779,1.000890,1.001122,1.001005,1.002290,1.003830,1.004034,...,0.999849,1.001440,1.001171,1.001627,1.004550,1.006928,1.008225,1.012929,1.014808,1.017816
3,1.000058,0.999902,0.999849,0.999922,1.001123,1.001379,1.001252,1.002516,1.004030,1.004226,...,0.999978,1.001578,1.001418,1.001893,1.004888,1.007317,1.008637,1.013380,1.015268,1.018277
4,1.000062,0.999977,0.999959,1.000066,1.001355,1.001632,1.001495,1.002735,1.004220,1.004409,...,1.000110,1.001719,1.001664,1.002157,1.005225,1.007706,1.009048,1.013828,1.015725,1.018735

##### Test set (solar and wind inclusion, 30%)

In [10]:
v_test_solar_wind_30_pct = pd.read_csv('v_test_solar_wind_30_pct.csv')
v_test_solar_wind_30_pct.head()

,scenario,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1,1,1.000046,0.999737,0.999599,0.999563,1.000478,1.000663,1.000548,1.001851,...,0.999675,1.001255,1.000730,1.001151,1.003926,1.006203,1.007453,1.012084,1.013947,1.016953
1,2,1,1.000050,0.999808,0.999704,0.999700,1.000701,1.000906,1.000779,1.002057,...,0.999797,1.001383,1.000968,1.001407,1.004258,1.006586,1.007860,1.012529,1.014400,1.017407
2,3,1,1.000054,0.999891,0.999826,0.999853,1.000936,1.001161,1.001020,1.002271,...,0.999941,1.001532,1.001217,1.001674,1.004596,1.006975,1.008271,1.012976,1.014855,1.017863
3,4,1,1.000059,0.999966,0.999936,0.999996,1.001170,1.001419,1.001268,1.002497,...,1.000071,1.001671,1.001464,1.001939,1.004934,1.007364,1.008684,1.013427,1.015315,1.018324
4,5,1,1.000064,1.000040,1.000045,1.000138,1.001399,1.001669,1.001508,1.002714,...,1.000202,1.001810,1.001707,1.002199,1.005266,1.007745,1.009086,1.013864,1.015760,1.018770

In [11]:
v_test_solar_wind_30_pct = v_test_solar_wind_30_pct.loc[:, (v_test_solar_wind_30_pct.columns != 'scenario') & (v_test_solar_wind_30_pct.columns != 'v_1')]
v_test_solar_wind_30_pct.head()

,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1.000046,0.999737,0.999599,0.999563,1.000478,1.000663,1.000548,1.001851,1.003419,1.003634,...,0.999675,1.001255,1.000730,1.001151,1.003926,1.006203,1.007453,1.012084,1.013947,1.016953
1,1.000050,0.999808,0.999704,0.999700,1.000701,1.000906,1.000779,1.002057,1.003596,1.003802,...,0.999797,1.001383,1.000968,1.001407,1.004258,1.006586,1.007860,1.012529,1.014400,1.017407
2,1.000054,0.999891,0.999826,0.999853,1.000936,1.001161,1.001020,1.002271,1.003776,1.003973,...,0.999941,1.001532,1.001217,1.001674,1.004596,1.006975,1.008271,1.012976,1.014855,1.017863
3,1.000059,0.999966,0.999936,0.999996,1.001170,1.001419,1.001268,1.002497,1.003975,1.004165,...,1.000071,1.001671,1.001464,1.001939,1.004934,1.007364,1.008684,1.013427,1.015315,1.018324
4,1.000064,1.000040,1.000045,1.000138,1.001399,1.001669,1.001508,1.002714,1.004165,1.004347,...,1.000202,1.001810,1.001707,1.002199,1.005266,1.007745,1.009086,1.013864,1.015760,1.018770

##### Test set (solar and wind inclusion, 45%)

In [12]:
v_test_solar_wind_45_pct = pd.read_csv('v_test_solar_wind_45_pct.csv')
v_test_solar_wind_45_pct.head()

,scenario,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1,1,1.000047,0.999795,0.999678,0.999629,1.000518,1.000696,1.000558,1.001828,...,0.999760,1.001340,1.000770,1.001191,1.003966,1.006243,1.007494,1.012125,1.013987,1.016993
1,2,1,1.000051,0.999867,0.999785,0.999769,1.000744,1.000942,1.000793,1.002040,...,0.999883,1.001468,1.001011,1.001450,1.004301,1.006629,1.007903,1.012572,1.014443,1.017450
2,3,1,1.000055,0.999955,0.999913,0.999927,1.000983,1.001201,1.001036,1.002252,...,1.000034,1.001624,1.001263,1.001720,1.004643,1.007021,1.008318,1.013023,1.014902,1.017910
3,4,1,1.000060,1.000029,1.000023,1.000070,1.001216,1.001458,1.001284,1.002477,...,1.000163,1.001763,1.001511,1.001985,1.004981,1.007411,1.008731,1.013474,1.015362,1.018371
4,5,1,1.000065,1.000099,1.000124,1.000201,1.001426,1.001691,1.001510,1.002686,...,1.000289,1.001898,1.001732,1.002220,1.005272,1.007740,1.009074,1.013839,1.015731,1.018736

In [13]:
v_test_solar_wind_45_pct = v_test_solar_wind_45_pct.loc[:, (v_test_solar_wind_45_pct.columns != 'scenario') & (v_test_solar_wind_45_pct.columns != 'v_1')]
v_test_solar_wind_45_pct.head()

,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1.000047,0.999795,0.999678,0.999629,1.000518,1.000696,1.000558,1.001828,1.003362,1.003571,...,0.999760,1.001340,1.000770,1.001191,1.003966,1.006243,1.007494,1.012125,1.013987,1.016993
1,1.000051,0.999867,0.999785,0.999769,1.000744,1.000942,1.000793,1.002040,1.003545,1.003746,...,0.999883,1.001468,1.001011,1.001450,1.004301,1.006629,1.007903,1.012572,1.014443,1.017450
2,1.000055,0.999955,0.999913,0.999927,1.000983,1.001201,1.001036,1.002252,1.003721,1.003913,...,1.000034,1.001624,1.001263,1.001720,1.004643,1.007021,1.008318,1.013023,1.014902,1.017910
3,1.000060,1.000029,1.000023,1.000070,1.001216,1.001458,1.001284,1.002477,1.003921,1.004104,...,1.000163,1.001763,1.001511,1.001985,1.004981,1.007411,1.008731,1.013474,1.015362,1.018371
4,1.000065,1.000099,1.000124,1.000201,1.001426,1.001691,1.001510,1.002686,1.004107,1.004284,...,1.000289,1.001898,1.001732,1.002220,1.005272,1.007740,1.009074,1.013839,1.015731,1.018736

##### Test set (solar and wind inclusion, 60%)

In [14]:
v_test_solar_wind_60_pct = pd.read_csv('v_test_solar_wind_60_pct.csv')
v_test_solar_wind_60_pct.head()

,scenario,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1,1,1.000048,0.999854,0.999758,0.999697,1.000560,1.000732,1.000573,1.001811,...,0.999845,1.001425,1.000813,1.001233,1.004009,1.006285,1.007536,1.012167,1.014029,1.017036
1,2,1,1.000052,0.999926,0.999866,0.999838,1.000788,1.000979,1.000808,1.002022,...,0.999969,1.001554,1.001054,1.001493,1.004344,1.006673,1.007947,1.012616,1.014487,1.017494
2,3,1,1.000057,1.000019,1.000000,1.000001,1.001029,1.001241,1.001052,1.002232,...,1.000126,1.001716,1.001310,1.001767,1.004690,1.007068,1.008365,1.013070,1.014949,1.017958
3,4,1,1.000061,1.000091,1.000107,1.000140,1.001255,1.001491,1.001294,1.002455,...,1.000254,1.001853,1.001549,1.002022,1.005012,1.007438,1.008755,1.013494,1.015379,1.018387
4,5,1,1.000066,1.000154,1.000195,1.000252,1.001434,1.001694,1.001496,1.002648,...,1.000372,1.001980,1.001733,1.002213,1.005234,1.007679,1.008998,1.013735,1.015618,1.018613

In [15]:
v_test_solar_wind_60_pct = v_test_solar_wind_60_pct.loc[:, (v_test_solar_wind_60_pct.columns != 'scenario') & (v_test_solar_wind_60_pct.columns != 'v_1')]
v_test_solar_wind_60_pct.head()

,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,...,v_24,v_25,v_26,v_27,v_28,v_29,v_30,v_31,v_32,v_33
0,1.000048,0.999854,0.999758,0.999697,1.000560,1.000732,1.000573,1.001811,1.003313,1.003515,...,0.999845,1.001425,1.000813,1.001233,1.004009,1.006285,1.007536,1.012167,1.014029,1.017036
1,1.000052,0.999926,0.999866,0.999838,1.000788,1.000979,1.000808,1.002022,1.003495,1.003689,...,0.999969,1.001554,1.001054,1.001493,1.004344,1.006673,1.007947,1.012616,1.014487,1.017494
2,1.000057,1.000019,1.000000,1.000001,1.001029,1.001241,1.001052,1.002232,1.003667,1.003852,...,1.000126,1.001716,1.001310,1.001767,1.004690,1.007068,1.008365,1.013070,1.014949,1.017958
3,1.000061,1.000091,1.000107,1.000140,1.001255,1.001491,1.001294,1.002455,1.003865,1.004042,...,1.000254,1.001853,1.001549,1.002022,1.005012,1.007438,1.008755,1.013494,1.015379,1.018387
4,1.000066,1.000154,1.000195,1.000252,1.001434,1.001694,1.001496,1.002648,1.004045,1.004217,...,1.000372,1.001980,1.001733,1.002213,1.005234,1.007679,1.008998,1.013735,1.015618,1.018613

### Import the test sets (predicted/estimated value) and compute the RMSE with respect to the true value

##### Test set (normal loading)

In [16]:
for i in range(1, 5):
    file = f"v_test_pred_{i}.csv"
    v_test_pred = pd.read_csv(file)
    v_test_pred = v_test_pred.loc[:, (v_test_pred.columns != 'scenario') & (v_test_pred.columns != 'v_1')]
    print("Overall RMSE of model {} in terms of V: {}".format(i, mean_squared_error(v_test, v_test_pred, squared = False)))

Overall RMSE of model 1 in terms of V: 9.035652236738676e-06
Overall RMSE of model 2 in terms of V: 0.0002549473656112294
Overall RMSE of model 3 in terms of V: 0.0026910670779091072
Overall RMSE of model 4 in terms of V: 0.0016401021506582784

##### Test set (increase in load)

In [17]:
for i in range(1, 5):
    file = f"v_test_load_increase_pred_{i}.csv"
    v_test_load_increase_pred = pd.read_csv(file)
    v_test_load_increase_pred = v_test_load_increase_pred.loc[:, (v_test_load_increase_pred.columns != 'scenario') & (v_test_load_increase_pred.columns != 'v_1')]
    print("Overall RMSE of model {} in terms of V: {}".format(i, mean_squared_error(v_test_load_increase, v_test_load_increase_pred, squared = False)))

Overall RMSE of model 1 in terms of V: 0.0010091752956121176
Overall RMSE of model 2 in terms of V: 0.013314583804408902
Overall RMSE of model 3 in terms of V: 0.033716354854725475
Overall RMSE of model 4 in terms of V: 0.0007108408996125767

##### Test set (solar and wind inclusion, 15%)

In [18]:
for i in range(1, 5):
    file = f"v_test_solar_wind_15_pct_pred_{i}.csv"
    v_test_solar_wind_15_pct_pred = pd.read_csv(file)
    v_test_solar_wind_15_pct_pred = v_test_solar_wind_15_pct_pred.loc[:, (v_test_solar_wind_15_pct_pred.columns != 'scenario') & (v_test_solar_wind_15_pct_pred.columns != 'v_1')]
    print("Overall RMSE of model {} in terms of V: {}".format(i, mean_squared_error(v_test_solar_wind_15_pct, v_test_solar_wind_15_pct_pred, squared = False)))

Overall RMSE of model 1 in terms of V: 0.00013432720459141418
Overall RMSE of model 2 in terms of V: 0.0002078799558192121
Overall RMSE of model 3 in terms of V: 0.0023276691974219695
Overall RMSE of model 4 in terms of V: 0.0016973220416583476

##### Test set (solar and wind inclusion, 30%)

In [19]:
for i in range(1, 5):
    file = f"v_test_solar_wind_30_pct_pred_{i}.csv"
    v_test_solar_wind_30_pct_pred = pd.read_csv(file)
    v_test_solar_wind_30_pct_pred = v_test_solar_wind_30_pct_pred.loc[:, (v_test_solar_wind_30_pct_pred.columns != 'scenario') & (v_test_solar_wind_30_pct_pred.columns != 'v_1')]
    print("Overall RMSE of model {} in terms of V: {}".format(i, mean_squared_error(v_test_solar_wind_30_pct, v_test_solar_wind_30_pct_pred, squared = False)))

Overall RMSE of model 1 in terms of V: 0.00025957321211239956
Overall RMSE of model 2 in terms of V: 0.00018739436929161157
Overall RMSE of model 3 in terms of V: 0.0020535184173154832
Overall RMSE of model 4 in terms of V: 0.0017650461475080142

##### Test set (solar and wind inclusion, 45%)

In [20]:
for i in range(1, 5):
    file = f"v_test_solar_wind_45_pct_pred_{i}.csv"
    v_test_solar_wind_45_pct_pred = pd.read_csv(file)
    v_test_solar_wind_45_pct_pred = v_test_solar_wind_45_pct_pred.loc[:, (v_test_solar_wind_45_pct_pred.columns != 'scenario') & (v_test_solar_wind_45_pct_pred.columns != 'v_1')]
    print("Overall RMSE of model {} in terms of V: {}".format(i, mean_squared_error(v_test_solar_wind_45_pct, v_test_solar_wind_45_pct_pred, squared = False)))

Overall RMSE of model 1 in terms of V: 0.0003853992610096403
Overall RMSE of model 2 in terms of V: 0.00017602145924687604
Overall RMSE of model 3 in terms of V: 0.0018413155268737695
Overall RMSE of model 4 in terms of V: 0.0018505653845605915

##### Test set (solar and wind inclusion, 60%)

In [21]:
for i in range(1, 5):
    file = f"v_test_solar_wind_60_pct_pred_{i}.csv"
    v_test_solar_wind_60_pct_pred = pd.read_csv(file)
    v_test_solar_wind_60_pct_pred = v_test_solar_wind_60_pct_pred.loc[:, (v_test_solar_wind_60_pct_pred.columns != 'scenario') & (v_test_solar_wind_60_pct_pred.columns != 'v_1')]
    print("Overall RMSE of model {} in terms of V: {}".format(i, mean_squared_error(v_test_solar_wind_60_pct, v_test_solar_wind_60_pct_pred, squared = False)))

Overall RMSE of model 1 in terms of V: 0.00052164202772762
Overall RMSE of model 2 in terms of V: 0.00016568434152918637
Overall RMSE of model 3 in terms of V: 0.0016886926630091473
Overall RMSE of model 4 in terms of V: 0.0019454961027881845